* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #A3E1C7;
}

.barra-inicio {
    width: 1522px;
    height: 70px;
    background-color: #6F3939;
}

h1 {
    font-size: 36px;
    font-family: 'Irish Grover', cursive;
    color: white;
    margin-left: 70px;
    margin-top: -55px;
}

.sobre{
    font-size: 20px;
    color: white;
    margin-top: -25px;
    margin-left: 400px;
}

.chegar{
    font-size: 20px;
    color: white;
    margin-top: -20px;
    margin-left: 650px;
}

.ingressos{
    font-size: 20px;
    color: white;
    margin-top: -20px;
    margin-left: 900px;
}

.mapa{
    font-size: 20px;
    color: white;
    margin-top: -20px;
    margin-left: 1100px;
}

.melhor{
    font-family: 'Irish Grover', cursive;
    font-size: 48px;
    margin-top: 175px;
    margin-left: 200px;
}

.sp{
    font-family: 'Irish Grover', cursive;
    font-size: 48px;
    margin-top: 5px;
    margin-left: 250px;
}

.animais{
    color: #9D9A56;
    font-family: 'Irish Grover', cursive;
    font-size: 24px;
    margin-top: 5px;
    margin-left: 240px;
}

.barra-meio{
    width: 1522px;
    height: 80px;
    margin-top: -5px;
    background-color: #52947C;   
}


.instagram{
    width: 50px;
    height: 50px;
    margin-left: 535px;
    margin-top: 15px;
}

.facebook{
    width: 50px;
    height: 50px;
    margin-left: 80px;
}

.twitter{
    width: 50px;
    height: 50px;
    margin-left: 90px;
    margin-top: -90px;
}

.tik-tok{
    width: 50px;
    height: 50px;
    margin-left: 80px;
    margin-top: -90px;
}

.youtube{
    width: 60px;
    height: 55px;
    margin-left: 90px;
    margin-top: -10px;
}

.panda{
    width: 900px;
    height: 500px;
    margin-left: 623px;
    margin-top: -325px;
}

.verde{
    background-color: #6AA48F;
    width: 1522px;
    height: 280px;
}

 .arara{
    width: 500px;
    height: 500px;
    margin-top: -150px;
} 

.barra-laranja{
    background-color: #D36121;
    width: 240px;
    height: 80px;
    border-radius: 50px;
    margin-top: -250px;
    margin-left: 820px;
} 

.clique{
    color: white;
    margin-left: 860px;
    margin-top: -145px;
    font-family: 'Josefin Sans';
    font-size: 24px;
}
